body *{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    border-bottom: 1px solid grey;
    padding: 32px;
}

/* FIRST-SECTION */

.first-section{
    display: grid;
    background-color: #ffcc00;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 280px 1fr 150px;
    grid-template-columns: 280px 1fr 100vh;
    grid-template-areas: "logo . play" ". . play" "ost . play";
}

@media (max-width: 768px){
    .first-section{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 280px 1fr 150px;
        grid-template-areas: "logo" "play" "info";
    }

    .logo-img{
        max-width: 200px;
    }

    .play-img{
        padding: 32px;
    }
}

.logo-img{
    grid-area: logo;
    padding: 32px;
    width: 100%;
}

.play-img{
    grid-area: play;
    height: 100%;
    max-width: 100%;
}

.info{
    grid-area: ost;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.label{
    text-transform: uppercase;
}

.artist{
    margin-top: 8px;
    font-weight: bold;
    font-size: xx-large;
}

.song{
    font-size: x-large;
}

/* IMG1 */

.img1{
    background-color: #660099;
}

/* SECOND-SECTION */

.second-section{
    background-color: #ffcc00;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "s2-title s2-title s2-circle" "j-img j-img fm" "online a-img a-img" ". . ." "z-container z-container z-container";
}

.s2-title{
    grid-area: s2-title;
}

.s2-circle{
    grid-area: s2-circle;
}

.j-img{
    grid-area: j-img;
    width: 100%;
    padding: 32px;
}

.fm{
    grid-area: fm;
}

.row-flex{
    display: flex;
    justify-content: space-between;
}

.row-title{
    font-size: 100px;
    margin: 0px;
}

.online{
    grid-area: online;
}

.a-img{
    grid-area: a-img;
    width: 100%;
    padding: 32px;
}

.z-img{
    flex: 1;
    padding: 32px;
    width: 50%;
}

.z-container{
    grid-area: z-container;
    display: flex;
    max-width: 100%;

}

@media (max-width: 768px){
    .second-section{
        grid-template-rows: repeat(7, auto);
        grid-template-columns: 100%;
        grid-template-areas: "s2-title" "j-img" "fm" "online" "a-img" "z-container" "devices";
    }

    .title{
        font-size: 110px;
    }

    .j-img{
        margin-top: -150px;
    }
}

/* IMG2 */

.img2{
    background-color: #660099;
}

/* SCHEDULE */

.schedule{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "schedule-title schedule-title schedule-circle" ". . p1" "p2 p3 ." ". p4 ." ". . p5" "p6 p7 .";
    gap: 8px;
}

.schedule-title{
    grid-area: schedule-title;
    font-size: 100px;
    font-weight: bold;
    margin: 0;
    padding: 32px;
}

.schedule-circle circle{
    background-color: black;
    display: grid;
    justify-content: right;
    grid-area: schedule-circle;
    border-radius: 82px;
    height: 164px;
    width: 164px;
    padding: 32px;
    margin: 32px;
}

.program{

}

.p1{
    grid-area: p1;
}

.p2{
    grid-area: p2;
}

.p3{
    grid-area: p3;
}

.p4{
    grid-area: p4;
}

.p5{
    grid-area: p5;
}

.p6{
    grid-area: p6;
}

.p7{
    grid-area: p7;
}

@media (max-width: 768px){
    .schedule{
        grid-template-rows: repeat(8, auto);
        grid-template-columns: 100%;
        grid-template-areas: "title" "p1" "p2" "p3" "p4" "p5" "p6" "p7";
    }

    .schedule-title{
        font-size: 110px;
    }
}

/* PIANO */

.piano{
    display: grid;
    background-color: #ffcc00;
    justify-content: center;
}

/* IMG3 */

.img3{
    background-color: #660099;
}

/* CONTATTI */

.contatti{
    display: grid;
    background-color: #ffcc00;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100%;
    grid-template-areas: "contatti circle-img" "contatti list";
}

.contact-title{
    grid-area: contatti;
}

h1{
    font-size: 200px;
    margin: 0;
}

.circle{
    background-color: black;
    display: grid;
    grid-area: circle;
    border-radius: 82px;
    height: 164px;
    width: 164px;
    padding: 32px;
    margin: 32px;
    justify-self: end;
}

.contact-list{
    margin-top: 300px;
    margin-bottom: 100px;
    grid-area: list;
}

.eye{
    display: grid;
    justify-items: center;
}

.eye-img{
    margin: 20px;
}

.last-section{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}

.mouth{
    width: 50vw;
    height: 50vw;
    background-color: #660099;
}

.arrow{
    width: 50vw;
    height: 50vw;
    background-color: #ff3333;
}

@media (max-width: 480px){
    .last-section{
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }
    
    .mouth{
        width: 100vw;
        height: 100vw;
        background-color: #660099;
    }
    
    .arrow{
        width: 100vw;
        height: 100vw;
        background-color: #ff3333;
    }
}